body {
    background-image: url("../images/loginbackg.jpg");
    background-size: cover;
    background-position: center;
  }

.chatbot-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.department-select select {
  padding: 8px;
  margin-bottom: 15px;
  margin-right: 5px;
  color: black;

}

.chat-input {
  display: flex;
  align-items: center;
  height: 50px;
}

.chat-input input[type="text"] {
  padding: 10px;
  margin-right: 10px;
  width: 200px;
  color: black;
}

.chat-input input[type="text"]::placeholder {
  color: black;
}

.chat-input button {
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  color: black;
  cursor: pointer;
}
.chat-input button:hover {
  background-color: #4d7eb1df;
  color: white;
}
